# Ignore virtual environment directory
venv/

# Ignore log files
*.log

# Ignore cache directories
__pycache__/

# Ignore IDE-specific files
.vscode/
.idea/
.DS_Store


# Ignore sensitive or environment-specific configuration files
config.ini
.env
.env.json


# external_resource_files
proposed/
extra_code/
